body {
    background-image: url(../image/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}
nav {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    font-family: Georgia;
}
div {
    text-align: center;
    border-radius: 30px;
}
img {
    border-radius: 30px;
    margin-left: auto; 
    margin-right: auto;
}

ul {
    list-style-image: url(../image/Logo_small.png)
}
p {
    color: white;
    font-size: 16px;
    font-family:  cursive, Arial, sans-serif;
    text-align: center;
}
h1 {
    color: greenyellow;
    font-size: 32px;
    font-weight: 900;
}
h2 {
    color: greenyellow;
    font-size: 24px;
    font-weight: 600;
}
h3 {
    font-size: 20px;
    font-weight: 400;
}
ul {
    font-size: 24px;
    font-weight: 600;
}
b {
    font-size: 18px;
    font-family:  cursive, Arial, sans-serif;
    text-align: center;
}
h1, h2, h3 {
    text-align: center; 
}
a {
    color:greenyellow;
}
.menu {
    color:greenyellow;
}
.container {
     text-align: center;
}

.mainimg {
    width: 90%; 
}
.logo {
    width: 90%;  
}

.flex-logo {
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.flex-picture {
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.flex-picture img {
    max-width: 100%;
}
.flex-text {
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex-item {
    flex-basis: auto;
}

.navigation {
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navigation a {
    display: block;
    padding: 10px;
    color: greenyellow;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .navigation {
    flex-flow: column wrap;
  }
    
.navigation a { 
    text-align: center; 
    padding: 10px; 
  }