body {
    background-image: url(../image/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}
nav {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    font-family: Georgia;
}
div {
    text-align: center;
    border-radius: 30px;
}
img {
    border-radius: 30px;
}
form {
    color: white;
    text-align: center;
}
ul {
    list-style-image: url(../image/Logo_small.png)
}
p {
    color: white;
    font-size: 16px;
    font-family:  cursive, Arial, sans-serif;
    text-align: center;
}
h1 {
    color: greenyellow;
    font-size: 32px;
    font-weight: 900;
}
h2 {
    color: greenyellow;
    font-size: 24px;
    font-weight: 600;
}
h3 {
    font-size: 20px;
    font-weight: 400;
}
ul {
    font-size: 24px;
    font-weight: 600;
}
b {
    font-size: 18px;
    font-family:  cursive, Arial, sans-serif;
    text-align: center;
}
h1, h2, h3 {
       text-align: center; 
}
a {
    color:greenyellow;
}
.menu {
    color:greenyellow;
}
.container {
     text-align: center;
}
.row {
    justify-content: center;
}
.mainimg {
    width: 50%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
.logo {
    width: 30%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
.content {
    width: 99%;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}
#history {
    font-size: 16px;
    font-family:  cursive, Arial, sans-serif;
    color: azure;
}
#fullmap {
     text-align: center;
     width: 99%;
}
#minimap {
     text-align: center;
     width: 99%;
}
@media screen and (min-width : 560px) {
    #history {
        display: none;
    }
}
@media screen and (max-width : 380px) {
    #fullmap {
        display: none;
    }
}
@media screen and (min-width : 380px) {
    #minimap {
        display: none;
    }
}